.nav {
    color: rgba(255, 255, 253, 0.493);
}
a {
    text-decoration: none;
    color: rgba(255, 255, 253, 0.493);
}
/* a::after {
    content: " - ";
    color: white;
}
*/
a:hover {
    color: rgb(255, 255, 253);
}
.activeNav {
    color: rgb(255, 255, 253);
}